/* Eléments principaux de la page */

body
{
    background-image: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4)), url(image2.jpg);
    background-size: cover;
    background-position: center;
    font-family: Lato;
    font-weight: 300;
    position: relative;
    height: 135vh;
}


section h1, footer h1, nav a
{
    font-family: Dayrom, serif;
    font-weight: normal;
    text-transform: uppercase;
}

/* Navigation */

nav
{
    background: rgb(2,0,36);
}

nav a
{
    font-size: 1em;
    padding-bottom: 3px;
    text-decoration: none;
}

.navbar-brand img
{
    max-height: 25px;
}

/* Corps */

section
{
    display: flex;
    margin-bottom: 30px;
}

article
{
    text-align: justify;
    font-size: 1.3em;
    color: white;
}

article
{
    margin-right: 20px;
    flex: 3;
}

article p
{
    font-size: 0.8em;
}

.card-body
{
    background-color: black;
}

li
{
    font-size: 0.8em;
}
/* Footer */

footer
{
    position: center;
}

footer p
{
    color: white;
}